:root {
  --dark-purple: #301534;
  --pink: #ad28eb;
  --pale-purple: #8b6990;
  --light-pink: #f8eeff;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  background-color: var(--light-pink);
  font-size: 14px;
  font-weight: 400;
  color: var(--dark-purple);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
/* h1 {
  font-size: 56px;
  font-weight: 700;
} */

h2 {
  font-size: 16px;
  font-weight: 500;
}
/* h2 {
  font-size: 18px;
  font-weight: 500;
} */

p {
  color: var(--pale-purple);
  line-height: 150%;
}

#app {
  min-width: 100%;
  min-height: 100vh;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
